.footer-container {
    background-color: var(--primary);
    color: var(--secondary);
}
@media only screen and (min-width: 48em) {
    .footer {
        margin: 0 auto;
        max-width: var(--max-width-4);
        padding: 0 var(--space-4);
    }
}